<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tony Stark</title>
	<link rel="icon" href="images/Erik_Satie.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<!-- Header section -->
	<header>
		<img src="static/images/B.jpeg">
		<h1>Anthony Edward Stark</h1>
	</header>

	
	<!-- Main section -->
	<main>
		<h2>Anthony Edward Stark </h2>
		<p> - Iron Man </p>
		<img src="images/A.jpeg">
		<p class="caption">“There's only two things I ever managed to believe in. Firstly, myself. And even then only about 50% of the time. Secondly, the future. That there would be one and we'd make it.” - Tony Stark
		</p>

		<!-- Facts -->
		<h2>Facts About Erik Satie</h2>
		<ul>
			<li>Anthony Edward Stark, also known as Tony Stark, was born to two S.H.I.E.L.D. agents, Amanda Armstrong and Jude. </li>
			<li>Tony Stark is a genius inventor and billionaire industrialist, who suits up in his armor of cutting-edge technology to become the super hero Iron Man.</li>
			<li>Iron Man's primary powers mostly come from his armored suit. </li>
			<li>...</li>
		</ul>

		<!-- Armor -->
		<h2>Armor Capabilities</h2>
		<ul>
		<table border="2">
		<tr>
			<td>Superhuman Strength</td>
			<td>Superhuman Speed</td>
			<td>Flight</td>
			<td>Power Cells</td>
		</tr>
	    </table>
	    </ul>

		<!-- Compositions -->
		<h2>Iron Man Movies</h2>
		<p>As one of the most famous superheroes in Marvel Comics, Iron Man not only has his own independent series, but also plays an important role in The Avengers series movies.</p>
		<ol>
			<li><a href="https://youtu.be/VAHpUp0JrDM" target="_blank">Iron Man</a></li>
			<li><a href="https://youtu.be/7IUVKSR8h10" target="_blank">Iron Man 2</a></li>
			<li><a href="https://youtu.be/W8CXEjr0hWg" target="_blank">Avengers: Endgame</a></li>		
		</ol></a>

	</main>


	<!-- Footer section -->
	<footer>
		<p>Ready to know more about <a href="https://marvel.fandom.com/wiki/Anthony_Stark_(Earth-616)" target="_blank">Marvel database of Anthony Stark</a> here.</p>
	</footer>
</body>
</html>
